name: Release

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: '8.8'

    - name: Add SHA Rev to version
      run: sed -i "s/^\(version=[0-9]\+\(\.[0-9]\+\)*\)$/\1-${GITHUB_SHA::7}/" gradle.properties

    - name: Setup Gradle 8.8
      uses: gradle/actions/setup-gradle@v5
      with:
         gradle-version: '8.8'

    - name: init gradle wrapper
      run: gradle wrapper

    - name: Change wrapper permissions
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Create GitHub Release + upload asset
      uses: softprops/action-gh-release@v2
      with:
          files: |
            fabric/build/libs/*.jar
            forge/build/libs/*.jar
            neoforge/build/libs/*.jar
